.food-section {
    width: 80%;
    margin: 40px auto;
}

.food-section-title {
    font-size: max(2vw, 24px);
    font-weight: 600;
    color: #262626;
    margin-bottom: 20px;
}

.food-section-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    margin-top: 30px;
    row-gap: 50px;
}

.food-section hr {
    margin: 40px 0 10px 0;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}