.food-item{
    width: 220px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    gap: 100px;
}
.food-item-image{
    width: 100%;
    border-radius:10px 10px 15px 0px;
}
.food-item-info{
    padding:5px;
    

}
.food-item-name-rating{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
    
}
.food-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0px;
}
.food-item-name-rating img{
    width: 70px;
    padding: 5px 0px;

}
.food-item-desc{
    color: #676767;
    font-size: 12px;
    padding: 5px;

}
.food-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
    padding: 0px 5px;

}
.food-item-img-container{
    position: relative;
}
.food-item-img-container .add{
    width: 35px;
    position: relative;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50px;
}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}
.food-item-counter img{
    
}
.food-item .add{
    width: 40px;
    right: -174px;
    top: -50px;
}