@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
body{
  min-height: 100vh;

}
a{
  text-decoration: none;
  color: inherit;
}

#main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.login-popup{
  position: absolute;
  top: 0;
  left: 0;
}

.app{
  margin: auto;
  width: 80%;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
